@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Racing+Sans+One&display=swap');

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(84, 4, 215);
    background: linear-gradient(170deg, rgba(84, 4, 215, 1) 0%, rgba(1, 171, 132, 1) 56.00000000000001%, rgba(1, 173, 130, 1) 100%);
    background-size: 200% 150%;
    display: grid;
    place-content: center;
    animation: gradient 10s ease-in-out infinite;
}

.logo {
    position: absolute;
    height: 3rem;
    width: 3rem;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    z-index: 90;
}

.container {
    background-color: rgba(183, 251, 234, 0.6);
    padding: 2rem;
    height: 68vh;
    width: 36rem;
    border-radius: 24px;
    z-index: 40;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 48px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    font-family: 'Racing Sans One';
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: rgba(3, 87, 14, 0.644);
}

.container span {
    font-size: 2.4rem;
    font-family: 'Poppins';
    color: #1E1E1E;
}

#show {
    font-weight: 700;
}

.clear {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 0.6rem;
    bottom: 0;
    right: 0;
    padding: 24px;
    cursor: pointer;
    font-family: 'Poppins';
}

.update {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 0.6rem;
    bottom: 0;
    right: 102px;
    padding: 24px;
    cursor: pointer;
    font-family: 'Poppins';
}

.clear,
.update {
    z-index: 90;
}

.clear:hover,
.update:hover {
    background-color: #1e1e1e49;
    border-radius: 12px;
}

.clear:active,
.update:active {
    background-color: #1e1e1ead;
    border-radius: 12px;
}

.container button {
    font-family: 'Poppins';
    background-color: white;
    width: 40%;
    height: 60px;
    border-radius: 12px;
    letter-spacing: 1px;
    font-size: medium;
    border: none;
    color: #390981;
    cursor: pointer;
    font-weight: 700;
}

.container button:hover {
    color: rgb(84, 4, 215);
    box-shadow: 0px 0px 20px 0px rgba(85, 4, 215, 0.342);
}

#update {
    position: absolute;
    bottom: 136px;
    width: 20%;
    display: none;
}

.showName,
.updateInput {
    display: none;
}

.updateInput {
    position: relative;
    bottom: 152px;
    border: none;
    outline: none;
    height: 48px;
    width: 60%;
    border-radius: 12px;
    padding: 4px 12px;
    color: teal;
    font-size: 1rem;
    font-family: 'Poppins';
}

.resting {
    position: absolute;
    bottom: 0px;
    left: 32px;
    height: 12rem;
    z-index: 20;
}

@media (max-width: 800px) {
    .container {
        height: 80vh;
        width: 80vw;
    }

    .container button,
    #update {
        width: fit-content;
        padding: 8px 32px;
    }

    #update {
        bottom: 100px;
    }

    .updateInput {
        bottom: 180px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}